*,
*::before,
*::after {
    box-sizing: border-box;
}

/* blue: #0080ff; */
/* grey: #f1f1f1; */

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* HEADER */

.header {
    background-color: #f1f1f1;
    color: #000;
}
.menu {
}
.menu__list {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 0;
    margin: 0;
}
.menu__item {
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu__link {
    color: #000;
    transition: color .4s;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    position: relative;
}
.menu__link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -2px;
    left: 0;
    right: 0;
    background-color: #0080ff;
    transition: width .4s;
}
.menu__link:hover::before {
    width: 100%;
}
.menu__link:hover {
    color: #0080ff;
}


